Recon3D.mat

LP7_vs_LPf/consRecon3D.mat

RandomReactionRemovalAGORA/ConsAGORA
RandomReactionRemovalAGORA/IncompModels_10
RandomReactionRemovalAGORA/IncompModels_20
RandomReactionRemovalAGORA/IncompModels_30
RandomReactionRemovalAGORA/IncompModels_40
RandomReactionRemovalAGORA/IncompModels_50

RandomReactionRemovalAGORA/GapfilledModels_LP_10
RandomReactionRemovalAGORA/GapfilledModels_LP_20
RandomReactionRemovalAGORA/GapfilledModels_LP_30
RandomReactionRemovalAGORA/GapfilledModels_LP_40
RandomReactionRemovalAGORA/GapfilledModels_LP_50

RandomReactionRemovalAGORA/GapfilledModels_MILP_10
RandomReactionRemovalAGORA/GapfilledModels_MILP_20
RandomReactionRemovalAGORA/GapfilledModels_MILP_30
RandomReactionRemovalAGORA/GapfilledModels_MILP_40
RandomReactionRemovalAGORA/GapfilledModels_MILP_50

RandomReactionRemovalAGORA/GapfilledModels_DC_10
RandomReactionRemovalAGORA/GapfilledModels_DC_20
RandomReactionRemovalAGORA/GapfilledModels_DC_30
RandomReactionRemovalAGORA/GapfilledModels_DC_40
RandomReactionRemovalAGORA/GapfilledModels_DC_50

BuildCancerModels/DepMapModels_Recon/fastcore
BuildCancerModels/DepMapModels_Recon/sprintcore
BuildCancerModels/DepMapModels_Recon/swiftcore

BuildCancerModels/DepMapModels_Recon/DepMapData.mat
BuildCancerModels/DepMapModels_Recon/Results_BuildDepMapModels.mat

gapFilledAGORA_DB/AGORA_new_db
gapFilledAGORA_DB/AGORA2

gapFilledAGORA_DB/tsne_mat_all_rxns.csv
gapFilledAGORA_DB/tsne_mat_new_rxns.csv

hCOM_community/GapFillCarveMe/Carveme_results